/* App.css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background: url('./background.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz-container {
  max-width: 430px;
  margin: 0 auto;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #ffffff;
  padding: 20px;
}

.options div {
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.options input[type="radio"] {
  margin-right: 10px;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

.options input[type="radio"]::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 2px solid #ffffff;
  border-radius: 405%;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.options input[type="radio"]:checked::before {
  background-color: #ffffff;
}

.options input[type="radio"]:hover::before {
  border-color: #ddd;
}

.options input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

.options input[type="checkbox"]::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 2px solid #ffffff;
  border-radius: 4px; /* Rounded corners for checkboxes */
  margin-right: 10px;
  transition: background-color 0.3s;
}

.options input[type="checkbox"]:checked::before {
  background-color: #ffffff;
}

.options input[type="checkbox"]:hover::before {
  border-color: #ddd;
}

button {
  background-color: #ff0000;
  color: #000000;
  cursor: pointer;
  padding: 12px 1px;
  border: none;
  border-radius: 147px;
  width: 87%;
  margin-top: 15px;
}

.quiz-progress {
  margin-bottom: 20px;
  color: #ffffff;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
}

.navigation-buttons button {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  padding: 12px 1px;
  border: none;
  border-radius: 147px;
  width: 45%;
}

.navigation-buttons button:hover {
  background-color: #ddd;
}